<div class="container" style="text-align: center">
  <div class="row">
    <div class="col">
      <h1>Welcome!</h1>
      <h5>You'll need an account to search the NYC City Record.</h5>
      <h3>Would you like to make a new account or see existing accounts?</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <a class="btn btn-secondary btn-lg" href="#" role="button">Existing user</a>
    </div>
    <div class="col-6">
      <a class="btn btn-secondary btn-lg" href="#" role="button">New user</a>
    </div>
  </div>
</div>
