<nav class="navbar"></nav>
<div class="container">
  <div class="row">
    <div class="col-4" *ngIf="user">
      <h3>View demographics in your neighborhood.</h3>
      <br />
      <h5>Return to all accounts.</h5>
      <a routerLink="/user/list" class="btn btn-dark btn-lg">All accounts</a>
      <br />
      <br />
      <h5>Return to your account.</h5>
      <a routerLink="/user/edit/{{user.id}}" class="btn btn-dark btn-lg">Your account</a>
    </div>
    <div class="col-8">
      <div id="map" class="map-container">
      <!-- map goes here -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8 radio-row">
      <h5>Select data to filter view:</h5>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" disabled>
        <label class="form-check-label" for="inlineRadio1">Demographics</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" disabled>
        <label class="form-check-label" for="inlineRadio2">Neighborhood</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
        <label class="form-check-label" for="inlineRadio3">Year</label>
      </div>
    </div>
  </div>
</div>
