<nav class="navbar"></nav>
<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-4">
      <h1>Edit account</h1>
      <h3>Edit your account details, or delete your account.</h3>
      <br />
      <h5>Return to all accounts.</h5>
      <a routerLink="/user/list" class="btn btn-dark btn-lg">All accounts</a>
      <h5>View neighborhood map.</h5>
      <button type="button" class="btn btn-dark btn-lg" (click)="addZip()">Map</button>
    </div>
    <div class="col-8">
      <form (ngSubmit)="onSubmit()">
        <!-- name input -->
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Enter your name" [(ngModel)]="user.name" name="name">
          </div>
        </div>
        <!-- email input -->
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email address</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email" [(ngModel)]="user.email" name="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        </div>
        <!-- zip code input -->
        <div class="form-group row">
          <label for="zip-code" class="col-sm-2 col-form-label">Zip Code</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="zip-code" placeholder="Enter your zip code" [(ngModel)]="user.zip" name="zip">
          </div>
        </div>
        <!-- age range input -->
        <div class="form-group row">
          <label for="age-select" class="col-sm-2 col-form-label">Age</label>
          <div class="col-sm-10">
            <select class="form-control" id="age-select" [(ngModel)]="user.ageRange" name="ageRange">
              <option disabled>Select one</option>
              <option>>18</option>
              <option>18-25</option>
              <option>26-35</option>
              <option>36-50</option>
              <option>51-65</option>
              <option>66+</option>
            </select>
          </div>
        </div>
        <!-- industry input -->
        <div class="form-group row">
          <label for="industry-select" class="col-sm-2 col-form-label">Industry of work</label>
          <div class="col-sm-10">
            <select class="form-control" id="industry-select" [(ngModel)]="user.industry" name="industry">
              <option disabled>Select one</option>
              <option>Aerospace</option>
              <option>Agriculture</option>
              <option>Business</option>
              <option>Computer/Software</option>
              <option>Construction</option>
              <option>Defense</option>
              <option>Education</option>
              <option>Energy</option>
              <option>Entertainment</option>
              <option>Finance</option>
              <option>Food</option>
              <option>Health services</option>
              <option>Hospitality</option>
              <option>Information</option>
              <option>Insurance</option>
              <option>Manufacturing</option>
              <option>Motor Vehicles</option>
              <option>Mass media</option>
              <option>Natural Resources</option>
              <option>Pharmaceutical</option>
              <option>Real Estate/Housing</option>
              <option>Telecommunications</option>
              <option>Transportation</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-dark btn-lg">Submit</button>
        <br />
        <br />
        <button type="button" class="btn btn-danger btn-lg" (click)="deleteUser()">Delete Account</button>
      </form>
    </div>
  </div>
</div>
